venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

data/raw/
data/processed/
data/self_collected/
*.zip
*.mp4

results/*.png
results/*.jpg

models/*.pt
models/*.pth
models/*.h5
models/*.pkl
